{% extends "app/layout.njk" %}
{% block title %}Checklist: {{ assignment.title }} - Gradebook{% endblock %}
{% block content %}
<h1>{{ assignment.title }} <small>{{ assignment.course_id }}</small></h1>
<div id="checklist-table">
{% include "app/checklist/_table.njk" %}
</div>
{% endblock %}
