<div class="md-grader-nav" id="md-grader-nav">
  {% set base = '/md-grader/' + assignmentId + '/student/' %}
  {% set qs = '?branch=' + (branch | urlencode) + '&filePath=' + (filePath | urlencode) %}
  <button hx-get="{{ base }}{{ prevUserId }}{{ qs }}"
          hx-target="#md-grader"
          hx-swap="innerHTML">
    <i class="bi bi-arrow-left"></i> Prev
  </button>
  <span class="md-grader-position {{ 'excused' if excused }}">{{ student.sortable_name }} ({{ student.github }})
    <button class="excuse-button"
            hx-post="/md-grader/{{ assignmentId }}/excused/{{ student.user_id }}"
            hx-vals='{"branch": "{{ branch }}", "filePath": "{{ filePath }}"}'
            hx-target="#md-grader"
            hx-swap="innerHTML">{{ 'Unexcuse' if excused else 'Excuse' }}</button>
    &mdash; {{ studentIndex + 1 }} of {{ totalStudents }}</span>
  <button hx-get="{{ base }}{{ nextUserId }}{{ qs }}"
          hx-target="#md-grader"
          hx-swap="innerHTML">
    Next <i class="bi bi-arrow-right"></i>
  </button>
</div>
