{% if editing %}
<td class="editing">
  <input type="text" name="icName" value="{{ a.ic_name or '' }}"
         hx-put="/assignments/{{ a.assignment_id }}/ic-name"
         hx-trigger="keyup[key=='Enter']"
         hx-target="closest td"
         hx-swap="outerHTML"
         autofocus onfocus="this.select()"
         hx-on:keydown="if(event.key==='Escape'){event.preventDefault();this.dataset.cancelled='1';htmx.ajax('GET','/assignments/{{ a.assignment_id }}/ic-name',{target:this.closest('td'),swap:'outerHTML'})}"
         hx-on:blur="if(!this.dataset.cancelled){htmx.ajax('PUT','/assignments/{{ a.assignment_id }}/ic-name',{target:this.closest('td'),swap:'outerHTML',values:{icName:this.value}})}">
</td>
{% elif a.standard %}
<td class="editable"
    hx-get="/assignments/{{ a.assignment_id }}/ic-name?edit=1"
    hx-trigger="dblclick"
    hx-target="this"
    hx-swap="outerHTML">{% if a.ic_name %}<a href="/ic-assignment/{{ a.ic_name | urlencode }}">{{ a.ic_name }}</a>{% else %}&nbsp;{% endif %}</td>
{% else %}
<td class="disabled-cell" title="Set standard first">{% if a.ic_name %}<a href="/ic-assignment/{{ a.ic_name | urlencode }}">{{ a.ic_name }}</a>{% endif %}</td>
{% endif %}
