{% if editing %}
<td class="editing">
  <input type="text" name="icName" value="{{ a.ic_name or '' }}"
         hx-put="/assignments/{{ a.assignment_id }}/ic-name"
         hx-trigger="change, keyup[key=='Enter']"
         hx-target="closest td"
         hx-swap="outerHTML"
         autofocus onfocus="this.select()"
         hx-on:keydown="if(event.key==='Escape'){event.preventDefault();htmx.ajax('GET','/assignments/{{ a.assignment_id }}/ic-name',{target:this.closest('td'),swap:'outerHTML'})}">
</td>
{% else %}
<td class="editable"
    hx-get="/assignments/{{ a.assignment_id }}/ic-name?edit=1"
    hx-target="this"
    hx-swap="outerHTML">{{ a.ic_name }}</td>
{% endif %}
