{% if error %}
<tr><td colspan="10" class="error">Error: {{ error }}</td></tr>
{% else %}
{% for a in assignments %}
{% include "app/assignments/view-row.njk" %}
{% else %}
<tr><td colspan="10">No assignments found.</td></tr>
{% endfor %}
{% endif %}
