{% for a in assignments %}
<tr>
  <td>{{ a.assignment_id }}</td>
  <td>{{ a.title }}</td>
  <td>{{ a.course_id }}</td>
  <td>{{ a.date }}</td>
  <td>{{ a.standard }}</td>
  <td>{{ a.ic_name }}</td>
  <td>{{ a.points }}</td>
</tr>
{% else %}
<tr><td colspan="7">No assignments found.</td></tr>
{% endfor %}
