@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  width: 90vw;
  margin: 0 auto;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

section {
  border: 1px solid grey;
  padding: 2em;
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

div:first-child {
  height: 90vh;
  overflow: scroll;
  width: 65vw;
}

select {
  float: right;
}
