<td class="points-grader-cell checklist-cell {{ checkState or 'empty' }} {{ 'extra-credit' if isExtraCredit }}"
    hx-put="/points-grader/{{ assignmentId }}/mark/{{ userId }}/{{ seq }}"
    hx-trigger="click"
    hx-target="closest tr"
    hx-swap="outerHTML">{% if checkState == 'check' %}<i class="bi bi-check-lg"></i>{% elif checkState == 'x' %}<i class="bi bi-x-lg"></i>{% endif %}</td>
