{% for r in rows %}
<tr>
  <td>{{ r.period }}</td>
  <td><a href="/students/{{ r.user_id }}">{{ r.sortable_name }}</a></td>
  <td><a href="/ic-assignment/{{ r.ic_name | urlencode }}">{{ r.ic_name }}</a></td>
  <td>{{ r.ic }}</td>
  <td>{{ r.db }}</td>
</tr>
{% else %}
<tr><td colspan="5">Nothing to update.</td></tr>
{% endfor %}
