{% for r in rows %}
<tr>
  <td><a href="/students/{{ r.user_id }}">{{ r.sortable_name }}</a></td>
  <td>{{ r.period }}</td>
  <td>{{ r.course_id }}</td>
  <td><a href="/assignments/{{ r.assignment_id }}/students">{{ r.title or r.assignment_id }}</a></td>
  <td>{{ r.date }}</td>
</tr>
{% else %}
<tr><td colspan="5">No zeros found.</td></tr>
{% endfor %}
