{% for s in students %}
<tr>
  <td><a href="/students/{{ s.user_id }}">{{ s.sortable_name }}</a></td>
  <td>{{ s.github }}</td>
  <td>{{ s.period }}</td>
  <td>{{ s.course_id }}</td>
</tr>
{% else %}
<tr><td colspan="4">No students found.</td></tr>
{% endfor %}
